<!DOCTYPE html>
<html>
<head>
    <title>Select Tables and Columns</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Select Tables and Columns</h1>
    <form action="/display_views" method="post" id="myForm">
        <ul>
            {% for table_name, columns in data.items() %}
                <li>
                    <label>{{ table_name }}:</label>
                    <select name="selected_columns_{{ table_name }}" multiple>
                        {% for column in columns %}
                            <input type="checkbox" id="{{ column }}" name="{{ column }}" value="{{ column }}">
                            <label for="{{ column }}"> {{ column }} </label><br>
                        {% endfor %}
                    </select>
                </li>
            {% endfor %}
        </ul>
        <input type="hidden" id="selectedData" name="selectedData" value="">
        <input type="hidden" id="dataBaseName" name="dataBaseName" value="{{ databasename }}">
        <button type="button" id="submitButton">Submit</button>
    </form>

     <script>
        $(document).ready(function() {
            var selectedData = {};

            $("input[type='checkbox']").on("change", function() {
                var tableLabel = $(this).closest("li").find("label").eq(0);
                var table = tableLabel.text().trim();
                var column = $(this).attr("value");

                if ($(this).is(":checked")) {
                    if (!selectedData[table]) {
                        selectedData[table] = [];
                    }
                    selectedData[table].push(column);
                } else {
                    var index = selectedData[table].indexOf(column);
                    if (index !== -1) {
                        selectedData[table].splice(index, 1);
                    }
                }
            });

            $("#submitButton").click(function() {
                console.log(selectedData)
                $("#selectedData").val(JSON.stringify(selectedData));
                $("#myForm").submit();
            });
        });
    </script>
</body>
</html>
