<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DV POC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">POC Sample</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Data sources
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Relational Database</button>
                      </a>
                    </li>
                    <li><a class="dropdown-item" href="#">
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#optionModal" data-bs-whatever="@mdo">Join Multiple</button>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/check_database" method="POST">
                <div class="mb-3">
                  <label for="database-name" class="col-form-label">Enter the name of the database :</label>
                  <input type="text" class="form-control" id="database-name" name="db_name" placeholder="Enter database name!">
                  <button type="submit" class="btn btn-primary my-3">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
<!--  options modal here -->
      <div class="modal fade" id="optionModal" tabindex="-1" aria-labelledby="optionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="optionModalLabel">Select Data Sources</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/options_selected" method="post">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="options[]" value="Relational" id="checkRelational">
                    <label class="form-check-label" for="checkRelational">Relational</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="options[]" value="XML" id="checkXML">
                    <label class="form-check-label" for="checkXML">XML</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="options[]" value="JSON" id="checkJSON">
                    <label class="form-check-label" for="checkJSON">JSON</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="options[]" value="Excel" id="checkExcel">
                    <label class="form-check-label" for="checkExcel">Excel</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>